[submodule "bundle/vimwiki"]
	path = bundle/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/VimOrganizer"]
	path = bundle/VimOrganizer
	url = https://github.com/vim-scripts/VimOrganizer.git
